/* CHIA LƯỚI */
.container {
    display: grid;
    grid-template-columns: auto auto; /* Số chữ auto = số cột, hoặc chia theo kích thước mình muốn*/
    background-color: #3e2723;
    padding: 10px;
    border-radius: 10px;
    grid-gap: 10px
}


.item {
    background-color: #80cbc4;
    border: 1px solid #fff;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.container2 {
    display: grid;
    grid-template-columns: auto auto auto; /* Số chữ auto = số cột, hoặc chia theo kích thước mình muốn*/
    grid-gap: 10px 20px;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;  
}

.container2 > div{
    background-color: yellow;
    border: 1px solid white;
    padding: 40px;
    font-size: 30px;
    text-align: center;
}

.item1, 
.item6, 
.item8 {
    grid-column-start: 1;
    grid-column-end: 3;
}